{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
<!-- logo -->
<a class="navbar-brand" href="indexsuprem.html"><!--aca ira el inicio de la pagina web-->
    <img class="img-fluid" src="{%static 'imagen/LogoPagina.png'%}" width="50" height="60" alt="">
  </a>
  
  <!-- enlaces -->
  <div class="collapse navbar-collapse" id="opciones">   
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{%url 'inicio'%}">UNIVERSOS</a>
        <!-- {% url 'inicio' %} = etiqueta -->
      </li>           
    </ul>
  </div>
</nav>