{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="indexsuprem.html"><!--aca ira el inicio de la pagina web-->
    <img class="img-fluid" src="{%static 'imagen/LogoPagina.png'%}" width="50" height="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="{%url 'inicio'%}">UNIVERSOS</a>
      {% if request.user.is_superuser %}
      <a class="nav-link" href="{% url 'crear_anime' %}">CREAR UNIVERSO</a>
      {% endif %}
      {% if request.user.is_superuser %}
      <a class="nav-link" href="{% url 'crear_autor' %}">CREAR AUTORES</a>
      {% endif %}
      {% if request.user.is_superuser %}
      <a class="nav-link" href="{% url 'crear_genero' %}">CREAR GENERO</a>
      {% endif %}

      {% if request.user.is_user %}
      {% endif %}
      <a class="nav-link" href="{% url 'lista_autores' %}">VER AUTORES</a>
      {% if request.user.is_user %}
      {% endif %}
      <a class="nav-link" href="{% url 'lista_autores' %}">VER GENEROS</a>

    </div>
  </div>
  {% if request.user.is_authenticated %}
        <div style="color: white;">Hola {{request.user.username}} <a style="color: white;" href="{% url 'logout' %}">CERRAR SESIÓN</a></div>
    </li>
    {% else %}

    <a class="nav-link" href="{% url 'login' %}">INICIAR SESIÓN</a>
    
  {% endif %}
</nav>